body {
  background-image: url(../img/Vault.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 99%;
  height: 99%;
}

@font-face {
  font-family: Cogs;
  src: url(../fonts/SteamcogCaps.ttf);
}

@font-face {
  font-family: Geosteam;
  src: url(../fonts/geosteam.ttf);
}

.Keylock-containter {
  position: relative;
  margin: 20px auto;
  float: right;
  margin-right: 50px;
  width: 425px;
  height: 425px;
  background-color: #B1811D;
  border-radius: 20px;
  overflow: hidden;
}
.rivet {
  position: absolute;
  top: 3%;
  left: 3%;
  background-color: #8F6002;
  width: 5%;
  border-radius: 100px;
  padding-bottom: 5%;
  &.bottom {
    top: auto;
    bottom: 3%;
  }
  &.right {
    left: auto;
    right: 3%;
  }
}
.innerDiv {
  position: absolute;
  top: 8%;
  right: 8%;
  bottom: 8%;
  left: 8%;
  padding: 10px;
  background: -webkit-linear-gradient(left, #8F6002 50%,#825301 50%);
  border-radius: 20px;
  box-shadow: 4px 4px 0 #6d4601 inset;
  border-left: 2px solid #906310;
  border-top: 2px solid #906310;
}

.Button {
  font-family: Cogs;
  font-size: 55px;
  text-align: center;
  color: rgb(39,17,5);
  border-radius: 25px;
  border-color: rgb(69,22,6);
  border-width: 5px;
  background-color: rgb(101,26,18);
  text-decoration: none;
  border-style:solid;
  position: relative;
  margin-left: 9.8px;
  margin-top: auto;
  float: left;
  height: 75px;
  width: 30%;
  overflow: hidden;
}

.Code-Text {
  font-family: Geosteam;
  font-size: 29px;
  text-align: center;
  color: rgb(39,17,5);
  position: relative;
  float: left;
}

#Entered-Code {
  margin: 0px auto;
  margin-top: 10px;
  position: relative;
  font-size: 75px;
  text-align: center;
  padding-top: 10px;
  height: 75px;
  width: 99%;
  float: left;
}

#Lights {
  font-family: Geosteam;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
  border-width: 5px;
  border-style: solid;
  margin-top: 12px;
  border-radius: 25px;
  border-color: rgb(39,17,5);
  width: 99%;
  height: 25%;
  float: left;
}

#Light-Red {
  width: 50%;
  height: 100%;
  float: left;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(74, 7, 0);
  }

.Red-on {
  background-color: rgb(199, 19, 0);
}

#Light-Green {
  width: 50%;
  height: 100%;
  float: left;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(0, 74, 7);
  }

  .Green-on {
    background-color: rgb(0, 199,19);
  }

#Outcome{
  height: auto;
  width: 99%;
  text-align: center;
  font-family: Geosteam;
  float: left;
  padding-top: 10px;
  font-size: 20px;
  color: rgb(39,17,5);
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn .5s ease-in 1 forwards;
  }
